{% include "password_toggle.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     {% load static %}
    <meta charset="utf-8">
    <title> Admin Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?v=2">
  </head>
  <body>
    <div class="center">
      <h1>Admin Login</h1>
      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: rgb(14, 14, 14);">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
        
      <form method="POST">
        {% csrf_token %}

        <div class="txt_field">
          <input type="text" name="username"required>
          <span></span>
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="password" name="password" required id="password">
          <span></span>
          <label>Password</label>
          <i class="fa-solid fa-eye password-toggle" data-toggle-target="password" style="position: absolute; right: 10px; top: 14px; cursor: pointer;"></i>
        </div>
       

        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="{% url 'admin-register' %}">Signup</a>
          <p>Forgot your Password?<a href="{% url 'admin-forgot-password' %}">Reset Password</a></p>  
        </div>
      </form>
    </div>
    

  </body>
</html>