{% include "password_toggle.html" %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title> Admin Reset Password</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?v=2">
  </head>
  <body>
    <div class="center">
      <h1> Admin Reset Password</h1>
        
      <form method="POST">
        {% csrf_token %}

        <div class="txt_field">
          <input type="password" name="password" id ="password" required>
          <span></span>
          <label>Password</label>
          <i class="fa-solid fa-eye password-toggle" data-toggle-target="password" style="position: absolute; right: 10px; top: 14px; cursor: pointer;"></i>

        </div>   
       

        <div class="txt_field">
            <input type="password" name='confirm_password' id="confirm_password" required>
            <span></span>
            <label>Confirm Password</label>
            <i class="fa-solid fa-eye password-toggle" data-toggle-target="confirm_passwordpassword" style="position: absolute; right: 10px; top: 14px; cursor: pointer;"></i>
        </div>    
        

        <input type="submit" value="Register">
        <div class="signup_link">
          Remember your password? <a href="{% url 'admin-login' %}">Login</a>
        </div>
      </form>
    </div>
    

  </body>
</html>