<!DOCTYPE html>
<h1 style="color: rgb(99,28,0);">Dashboard</h1>
<h3> Here's a quick summary:</h3>
 
<div style="display: flex; gap: 30px; margin-top: 30px; flex-wrap: wrap;">
  <div style="
    background: linear-gradient(to right,rgb(113, 9, 9),rgb(61, 19, 3));
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    flex: 1 1 250px;
    color: white;
    transition: transform 0.3s ease;
  " onmouseover="this.style.transform='scale(1.03)'"
onmouseout="this.style.transform='scale(1)'">
    <h3 style="margin: 0 0 10px; font-size: 20px;">Total Fuel Types</h3>
    <p style="font-size: 32px; font-weight: bold;">{{ fuel_count }}</p>
  </div>

  <div style="
    background: linear-gradient(to right,rgb(113, 9, 9),rgb(61, 19, 3));;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    flex: 1 1 250px;
    color: white;
    transition: transform 0.3s ease;
  " onmouseover="this.style.transform='scale(1.03)'"
onmouseout="this.style.transform='scale(1)'">
    <h3 style="margin: 0 0 10px; font-size: 20px;">Total Transactions</h3>
    <p style="font-size: 32px; font-weight: bold;">{{ total_payments }}</p>
  </div>
</div>
